@{
    Layout =  "~/Views/Shared/_Layout.cshtml";
}
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/css/style.css" />


<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>403</h1>
				<h2>Forbidden</h2>
                <h3>Access Denied</h3>
			</div>
			<a href="/Access/Login">Homepage</a>
		</div>
	</div>

</body>

</html>