@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main">
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel pannel-ledger">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Post </h3>
                </div>
                <div class="panel-body ">
                    <form name="postForm">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="title"> Title :</label>
                                        <input type="text" tabindex="1" class="form-control" placeholder="Enter Title" id="title">
                                        <label for="title"> Full Description :</label>
                                        <textarea rows="10" cols="100" tabindex="7" placeholder="Full Description" class="form-control" id="fullDesc"></textarea>
                                        <br/>
                                        <label for="title"> Image  :</label>
                                        <input type="file" name="imageUpload"  id="imageUpload"/>
                                        <img id="uImg" src="#" height="150" width="200" alt="your image" />
                                        <br/>
                                        <label for="title"> Category :</label>
                                        <select tabindex="7" id="selectCategory">
                                        </select><br/>
                                            <label for="title"> Is Active :</label>
                                            <input type="checkbox" tabindex="8" id="ia"><br/>
                                        <button style="align-self: center;" type="button" tabindex="10" class="btn btn-primary form-control" id="btnAdd">Add</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="title"> Short Description :</label>
                                        <textarea rows="10" cols="100" tabindex="7" placeholder="Short Description" class="form-control" id="shortDesc"></textarea>
                                        <label for="title">Author Name :</label>
                                        <input type="text" tabindex="4" placeholder="Author Name" class="form-control" id="aName">
                                        <label for="title"> Tag :</label>
                                        <input type="text" tabindex="6" placeholder="Tag" class="form-control" id="tag">
                                        <label for="title"> Remarks :</label>
                                        <input type="text" tabindex="2" placeholder="Remarks" class="form-control" id="remarks">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p><b><a href="/Post/ShowPost">Back to Home</a></b></p>
    
<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(function(){
            LoadCategory();
            $("#btnAdd").on("click",function(){
                var inputFile = $("#imageUpload").get(0);
                var files = inputFile.files;
                // Create FormData object  
                var formData = new FormData();
                // Looping over all files and add it to FormData object  
                for (var i = 0; i < files.length; i++) {  
                    formData.append("file", files[i]);  
                }
                var dataObj = {
                    Title: $("#title").val(),
                    FullDescription: $("#fullDesc").val(),
                    ShortDescription: $("#shortDesc").val(),
                    CategoryID: $("#selectCategory").val(),
                    AuthorName: $("#aName").val(),
                    Tag: $("#tag").val(),
                    Remarks: $("#remarks").val(),
                    IsActive: $("#ia").is(':checked'),
                }
                formData.append("dataObj",JSON.stringify(dataObj));
                $.ajax({
                    url: '/Post/AddPost',
                    type: 'POST',
                    data: formData,
                    async: false,
                    contentType: false,
                    processData: false,
                    success: function(){
                        alert("Post Added SuccessFully");
                        window.location.href = "/Post/ShowPosts"
                    },
                    error: function(){
                        alert("Error Adding!")
                    }
                });
            });
        });
        function LoadCategory(){
            $.ajax({
            url: '/Post/LoadCategory',
            type: 'get',
            dataType: 'json',
            success: function(data){
                $("#selectCategory").empty();
                $("#selectCategory").append('<option value="0">Choose Category</option>');
                $.each(data,function(i,item){
                    $("#selectCategory").append('<option value="'+ item.categoryID +'">'+ item.categoryName +'</option>');
                });
            },
            error: function(){
                alert("Error loading Category!")
            }
            });
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
            var reader = new FileReader();
    
            reader.onload = function(e) {
                $('#uImg').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]); // convert to base64 string
            }   
        }
        $("#imageUpload").change(function() {
            readURL(this);
        });

    </script>